<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted">Below you can find some of my creations showcasing what you can expect from videos I prepare.
                    </p><p class="text-muted">
                        Most of them are 10-15 seconds videos showcasing products or brands. They are perfect for Instagram marketing campaigns or other digital advertisements. All videos are made in a creative way to raise the curiosity and attention of potential customers based on the brand’s needs, target audience and visual style.
                    </p><p class="text-muted">
                        As a product videographer, my main focus is to create scroll-stopping content for your customers that you can use on social media and your website.
                    </p><p class="text-muted">
                        I can also help you to bring images to life with an eye-catching <a href="#stop-motion-videos">stop-motion video</a>. This would be a great asset to your marketing collection.
                    </p><p class="text-muted">
                        Do you need <a href="#long-videos">longer video</a>? No problem, I can make them too.
                    </p><p class="text-muted"> 
                        Please have a look around here and if you have any questions, get in touch <a target="_blank" href="https://blondieandkangaroo.com/en/contact/">here</a>.</p>
                </div>
            </div>
        </div>
    </section>