<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div id="studio-videos"></div>
            <div class="row-title">
                <div class="text-center">
                    <h2 class="section-heading">Studio Videos</h2>
                </div>
            </div>
<!-- template
<div class="col-md-4 col-sm-6 portfolio-item">
    <div class="portfolio-video">
        
    </div>
</div> 
-->
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/571876647?h=31802dfc77&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Fulvic Humic"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/578365718?h=30fcfa69a3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="EcoBread short"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/605134519?h=539bc77e47&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Pink Hibiscus"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/563493479?h=1d7bb2735a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Peace, Love &amp;amp; Vegetables"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/569802990?h=ded58466ba&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Franjos Kitchen biscuits"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/569286960?h=94b8be90c5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Locako Chocolate Caramel Bar"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/610259389?h=587f711ff6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Candle"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/583342958?h=700ba76412&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Freshening Natural Toothpaste"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/569287854?h=278bddf585&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Locako Creamer"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
            </div>

            <div id="outdoor-videos"></div>
            <div class="row-title">
                <div class="text-center">
                    <h2 class="section-heading">Outdoor Videos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/563491792?h=5c62122a30&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klean Kanteen"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/569288495?h=a0431390b3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Locako Hazelnut Bar"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/563493090?h=fed8f3e9ff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Dress"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/610260338?h=ffbcf2ab26&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Silica"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/541258146?h=236a7668f5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Lipstick"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/563492398?h=3a5c0c1d2d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Valka Yoga Mat"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
            </div>

            <div id="people-business-videos"></div>
            <div class="row-title">
                <div class="text-center">
                    <h2 class="section-heading">People and their businesses</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/779507778?h=fec89b46af&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Anula Events"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/783477200?h=1a05095728&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="MoveMeMaria"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/783478205?h=17a47bbcc5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Locco"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/783478571?h=c768b1fb6c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Tour Guide"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/779506511?h=3c062e9c96&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Santorinios Seafood"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/783477705?h=e92d7fa77b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Breathing Rehabilitation"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
            </div>

            <div id="stop-motion-videos"></div>
            <div class="row-title">
                <div class="text-center">
                    <h2 class="section-heading">Stop Motion Videos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/578368139?h=468c7f130c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="EcoBread Stop Motion"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/625288197?h=ce477638dc&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Brush It On"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/569803425?h=f02123c720&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Franjos Kitchen Crackers"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
            </div>

            <div id="long-videos"></div>
            <div class="row-title">
                <div class="text-center">
                    <h2 class="section-heading">Long videos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col portfolio-item">
                    <div class="portfolio-video">
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/578372999?h=4942631abe&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="EcoBread long"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div> 
            </div>
        </div>
    </section>
